parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - messages:
              - "#contains generic class RecursiveArrayIterator but does not specify its types#"
              - '#Call to an undefined method RecursiveIterator::getArrayCopy\(\).#'
          path: src/GeometryHelper.php
